@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";
@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css);
@font-face {
  font-family: "Teams Assets";
  src: url("https://avadheshftc.sharepoint.com/:u:/s/EmployeeConnectPrototype/EQLbWsb-BIREmvuOAMk7mSMBjJM505O7Jx4-4sXjxCZjDw?e=pEj018")
      format("woff"),
    url("https://avadheshftc.sharepoint.com/:u:/s/EmployeeConnectPrototype/EbMqjEFO9ixJqZ3H152zkOsBdD3ED4JDopx_ydz_tdQMhw?e=OekPkb")
      format("woff2");
  font-style: normal;
}

.taskTab {
  .container {
    max-width: auto;
    margin: 0px auto;
    position: relative;
    top: -18px;
  }
  .grid1_b73c1c19 {
    width: 22% !important;
  }
  .chevron,
  .chevron2 {
    float: left;
    display: flex;
    position: absolute;
    z-index: 1;
    margin-left: 24%;

    &::before {
      content: "\E449";
      font-family: "Teams Assets";
      font-size: 16px;
      font-weight: 600;
      color: #8595d3;
      margin-top: -130%;
      cursor: pointer;
    }
  }
  .chevron2 {
    margin-left: 30%;
  }

  .grid2_b73c1c19 {
    width: 22% !important;
  }

  .subheading_b73c1c19 {
    margin: 10px;
  }

  .heading_b73c1c19 {
    margin-top: 20px;
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    // background-color: $ms-color-themeDark;
    padding: 0 !important;
    margin: 4px 0px !important;
  }

  .column {
    @include ms-Grid-col;
    @include ms-sm12;
    @include ms-lg3;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .heading {
    font-size: 22px;
    color: black;
  }

  .subheading {
    font-size: 18px;
    color: gray;
  }

  .title {
    color: black;
    font-weight: bold;
    padding: 2px;
    position: relative;
    top: 10px;
  }

  .review {
    color: blueviolet;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .grid1,
  .grid2 {
    @include ms-Grid-col;
    @include ms-sm12;
    @include ms-lg3;
    @include ms-xlPush2;
    @include ms-lgPush1;
    background-image: url("./imgs/pending3.png");
    background-size: 120px 80px;
    background-position: center;
    background-repeat: no-repeat;
    left: 0 !important;
    height: 160px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .grid2 {
    background-image: url("./imgs/expenses3.png");
    background-repeat: no-repeat;
    margin-left: 2%;
  }

  .button {
    text-decoration: none;
    height: 32px;
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    margin-top: 104px;
    display: flex;
    justify-content: center;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }

  .list {
    color: #333333;
    font-family: "Segoe UI Regular WestEuropean", "Segoe UI", Tahoma, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    box-sizing: border-box;
    margin: 10;
    padding: 10;
    line-height: 50px;
    list-style-type: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .listItem {
    color: #333333;
    vertical-align: center;
    font-family: "Segoe UI Regular WestEuropean", "Segoe UI", Tahoma, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-shadow: none;
    *zoom: 1;
    padding: 9px 28px 3px;
    position: relative;
  }
}
