@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";
@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css);

.taskTab {
  .container {
    max-width: auto;
    margin: 0px auto;
    position: relative;
    top: -18px;
  }
  .grid1_b73c1c19 {
    width: 22% !important;
  }

  .grid2_b73c1c19 {
    width: 22% !important;
  }

  .subheading_b73c1c19 {
    margin: 10px;
  }

  .heading_b73c1c19 {
    margin-top: 20px;
  }

  thead {
    background: #f8f8f8;
  }

  th {
    font-weight: 500;
    font-size: 13px;
  }

  td {
    font-size: 11px;
    font-weight: 400;
    color: #333;
  }

  a.button_b73c1c19 {
    background: transparent !important;
    color: #3b8ce3 !important;
  }
  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    // background-color: $ms-color-themeDark;
    padding: 0 !important;
    margin: 4px 0px !important;
  }

  .column {
    @include ms-Grid-col;
    @include ms-sm12;
    @include ms-lg3;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }
  .taskTab_bb7e768f .subheading_bb7e768f {
    font-size: 13px;
    color: gray;
    cursor: pointer;
  }
  .heading {
    font-size: 22px;
    color: black;
  }
  .headingPending {
    font-size: 22px;
    margin-top: 25px;
    color: black;
  }
  .taskTab_bb7e768f .heading_bb7e768f {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 5px;
    padding-top: 0px;
  }
  .subheading {
    font-size: 13px;
    color: gray;
    cursor: pointer;
    margin-top: 8px;
  }
  .heading_d5fef6f0 {
    margin-bottom: 30px !important;
  }
  .title {
    color: black;
    font-weight: bold;
    padding: 2px;
    position: relative;
    top: 10px;
    display: inline;
  }
  .title2 {
    color: black;
    font-weight: bold;
    position: relative;
    margin-top: 5%;
    margin-left: 20%;
  }
  .ft {
    color: #8586bb;
    margin: 10% 0 0 19%;
    cursor: pointer;
  }

  .review {
    color: #0078d4;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .grid1,
  .grid2 {
    @include ms-Grid-col;
    @include ms-sm12;
    @include ms-lg3;
    @include ms-xlPush2;
    @include ms-lgPush1;
    // background-image: url("./imgs/pending3.png");
    // background-size: 120px 80px;
    // background-position: center;
    // background-repeat: no-repeat;
    padding: 1.25rem;
    left: 0 !important;
    height: 160px;
    width: 350px !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .grid2 {
    // background-image: url("./imgs/expenses3.png");
    // background-repeat: no-repeat;
    margin-left: 2%;
  }
  .img,
  .img2 {
    content: url("./imgs/1.png");
    height: 55px;
    width: 60px;
    border-radius: 50%;
    float: left;
  }
  .img2 {
    content: url("./imgs/2.png");
  }
  td,
  th {
    border-left: none !important;
    border-right: none !important;
    color: black;
  }

  .heading_8e03eadd {
    margin-top: 25px !important;
    padding-bottom: 5px;
  }

  tbody#spInvoiceListContainer {
    position: relative;
  }

  a.button_8e03eadd {
    background: transparent !important;
    color: #0078d4 !important;
  }

  .button {
    text-decoration: none;
    height: 32px;
    min-width: 80px;
    background: transparent !important;
    color: #0078d4 !important;
    border-color: $ms-color-themePrimary;
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    margin-top: 104px;
    display: flex;
    justify-content: center;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      font-family: "Segoe UI";
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }

  .list {
    color: #333333;
    font-family: "Segoe UI Regular WestEuropean", "Segoe UI", Tahoma, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    box-sizing: border-box;
    margin: 10;
    padding: 10;
    line-height: 50px;
    list-style-type: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .listItem {
    color: #333333;
    vertical-align: center;
    font-family: "Segoe UI Regular WestEuropean", "Segoe UI", Tahoma, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-shadow: none;
    *zoom: 1;
    padding: 9px 28px 3px;
    position: relative;
  }
  .panel {
    padding: 10px 0 10px 0;
    background-color: #fff;
    border-bottom: 1px solid #e8e4e4;
  }

  @media (max-width: 768px) {
    .grid1,
    .grid2 {
      display: none;
      width: 22%;
    }
  }
  @media (max-width: 425px) {
    .grid1,
    .grid2,
    #ps {
      display: none;
    }
    .grid2 {
      margin: 10px 0 0 0;
    }
    thead th,
    .heading,
    .subheading {
      font-size: xx-small;
    }
  }
}
