@font-face {
    font-family: "Teams Assets";
    src: url("./fonts/TeamsAssets-Light.woff") format("woff"), url("./fonts/TeamsAssets-Light.woff2") format("woff2");
    font-style: normal;
}

body {
    background-color: #f3f2f1 !important;
    padding: 20px;
}

.sel {
    display: inline-block;
    position: relative;
    margin-right: 1px;
    box-sizing: border-box;
    background-color: white;
    width: 10%;
    height: 27px;
}

    .sel::before {
        content: "\E447";
        font-family: "Teams Assets";
        position: absolute;
        color: #04838a;
        top: 2px;
        right: 0.5rem;
        pointer-events: none;
    }

    .sel select {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        padding: 4px 0 0 12px;
        color: #242424;
        -webkit-appearance: none;
        -ms-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        outline: none;
        background-color: transparent;
        position: relative;
        cursor: pointer;
        z-index: 10;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
    }

.custom-table {
    background-color: white;
    margin-top: 10px;
}

.table thead th {
    vertical-align: middle;
    border: none !important;
}

.pt {
    padding: 1rem 0 1rem 0;
    background-color: white;
}

.spt {
    float: right !important;
}

.cancel,
.submit {
    height: 30px;
    width: 100px;
    color: white;
    background-color: #6264a7;
    font-family: "Segoe UI";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    border: 1px solid rgba(37, 36, 36, 0.15);
    border-radius: 2px;
}

.cancel {
    color: black;
    background-color: white;
}

.PD,
.LH,
.location {
    width: 200px;
    position: relative;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    box-sizing: content-box;
    padding-left: 20px !important;
}

.PD-data {
    position: relative;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding-left: 20px !important;
}

.input-hrs,
.input-loc {
    padding-left: 8px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.time-clk::before {
    content: "\F301";
    font-family: "Teams Assets";
    position: absolute;
}

.given-time {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-left: 20px;
    font-size: 16px;
}

.sub-time {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-left: 20px;
    color: gray;
}

.given-loc {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    position: relative;
    padding-left: 23px !important;
    color: brown;
}

.custom-table {
    margin-top: 20px;
}

tr:nth-child(n + 1) {
    border-bottom: 2px solid #f3f2f1;
}

@media(max-width:768px) {
    .sel {
        width: 15%;
    }
}

@media(max-width:425px) {
    .sel {
        width: 27%;
        height: 36px;
        vertical-align: middle;
    }

    .hide {
        display: none;
    }

    input.input-hrs {
        width: 100%;
        font-size: 12px;
    }

    input.input-loc {
        width: 100%;
        font-size: 12px;
    }

    .PD-data {
        font-size: 13px;
        width: 100%;
    }

    .PT {
        font-size: 14px;
        vertical-align: middle !important;
    }

    .table td, .table th {
        vertical-align: middle !important;
    }

    .time-clk::before {
        position: relative;
        font-size: 12px;
    }

    .given-time, .sub-time {
        margin-left: 0px;
        font-size: 12px;
    }

    .given-loc {
        font-size: 12px;
    }

    .sel select {
        font-size: 14px;
    }

    .sel::before {
        top: 6px;
    }
}

@media(max-width:375px) {
    .sel {
        width: 28%;
    }

    .PT {
        font-size: 11px;
    }

    .cancel, .submit {
        height: 24px;
        width: 70px;
        font-size: 12px;
    }

    .PD-data, .sel select {
        font-size: 12px;
    }

    input.input-hrs {
        width: 70%;
        font-size: 12px;
    }
}

@media(max-width:320px) {
    .sel {
        width: 35%;
    }
}
