body {
    background-color: #6e7a75 !important;
}

.modal-content {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border: 0 !important;
    width: 107% !important;
    
}

h5 {
    margin-bottom: 0px !important;
}

.mh {
    display: block !important;
    padding: 60px 30px 20px 30px !important;
    border-bottom: 0px !important;
}

.mb {
    padding-top: 0px !important;
}

.vendor {
    color: #7e7e7e;
    font-size: 14px;
}

.store {
    font-size: 14px;
}

span.currency {
    font-size: 12px;
    position: relative;
    bottom: 14px;
    font-weight: bold;
}

.currency1 {
    font-size: 12px;
    position: relative;
    bottom: 2px;
}

.T-amount,
.total-h {
    float: right;
}

.total-h {
    font-size: 12px;
    color: #7e7e7e;
}

table {
    background-color: #f5f5f5;
}

.t-amount {
    font-size: 24px;
    font-weight: 500;
    bottom: 8px;
    position: relative;
}

.th-head {
    font-size: 12px;
    padding: 20px 30px 0px 30px !important;
    border-top: 0px !important;
    color: #7e7e7e;
}

.th-total {
    text-align: right;
}

.cnt {
    padding: 30px 30px 20px 30px !important;
    border-top: 0px !important;
    font-size: 14px;
    color: #7e7e7e;
}

.desc {
    width: 310px;
    color: black;
}

tr:nth-child(n + 3) {
    border-top: 1px solid #eaeaea !important;
}

.foo {
    border: 0 !important;
    margin-top: 30px;
}



.decline,
.approve {
    height: 30px;
    width: 100px;
    color: white;
    background-color: #6264a7;
    font-family: "Segoe UI";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    border: 1px solid rgba(37, 36, 36, 0.15);
    border-radius: 2px;
    box-shadow: 0 2px 4px -0.75px rgba(0, 0, 0, 0.1);
}

.decline {
    color: black;
    background-color: white;
}

@media(max-width:768px) {
    .cnt {
        padding: .75rem !important;
    }
}

@media (min-width: 576px) {

    .modal-dialog {
        margin: auto !important;
    }
}



@media(max-width:425px) {
    .cnt {
        padding: 8px !important;
        font-size: 12px;
        text-align: -webkit-left;
        width: 10px;
    }

    .th-head {
        padding: 10px !important;
    }
}

@media(max-width:375px) {
    .cnt {
        width: 65px;
    }
}

@media(max-width:320px) {
    .th-head {
        padding: 0px !important;
    }
}
