@model EmployeeConnect.Models.PO
@using EmployeeConnect.Common;
@using EmployeeConnect.Helper;
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/Content/Tools.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>*@
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <title>CT</title>

    </head>
<body>
    <script>
        microsoftTeams.initialize();
 function closeTicket() {
             let ticketInfo = {
                 action: "submitTicket",
            };
            microsoftTeams.tasks.submitTask(ticketInfo);
            return true;
        }
       
        
    </script>
    <form id="ticketcomplete">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content content-radius">
                <div class="modal-header custom-header">
                    <h5 class="modal-title">
                        Create ticket for HR related queries
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="category">Select category</div>
                    <select class="date-control" id="allCategories">
                        <option id="category">Employee Connect</option>
                        <option id="category">Feature Request</option>
                        <option selected id="category">Employee support</option>
                        <option id="category">HR Queries</option>
                    </select>
                    <span class="down-chevron"></span>
                    <div class="modal-category">Description</div>
                    <div class="card custom-card">
                    <textarea class="card-body custom-card-body" id="description" placeholder="Need to understand PTO assignment"></textarea>
                    </div>
                    <div class="modal-priority">Set a priority</div>
                    <form class="all-radio">
                        <label class="radio-label col-3 ">
                            <input type="radio" name="radio" value="Low" onclick="getPriority(this.value)">
                            <span class="range">Low</span>
                            <span class="check-mark"></span>
                        </label>
                        <label class="radio-label col-3">
                            <input type="radio" name="radio" value="Medium" onclick="getPriority(this.value)">
                            <span class="range">Medium</span>
                            <span class="check-mark"></span>
                        </label>
                        <label class="radio-label col-3">
                            <input type="radio" name="radio" checked="" value="HIgh" onclick="getPriority(this.value)">
                            <span class="range">High</span>
                            <span class="check-mark"></span>
                        </label>
                    </form>
                    <div class="two-btn">
                        <button type="button" class="Close" onclick="closeTicket('submitTicket')">Close</button>
                        @*<button type="submit" class="cancel">Cancel</button>*@
                        <button type="button" class="BCT"
                               onclick="submitCreateTicket('ticketcomplete');" >
                            Create ticket
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="~/Scripts/teamsapp.js"></script>
    <script>
    var categorySelectedChange = document.getElementById("category").value;
  $("select").change(function ()
       {    
        categorySelectedChange = document.getElementById("allCategories").value;  
  });
    var prioritySelected = "High";
    function getPriority(value) {
        debugger;
          prioritySelected = value;
        }
    microsoftTeams.initialize();

    function submitCreateTicket(type) {
        debugger;
    var categorySelected, ticketDescription;
    categorySelected = categorySelectedChange;
    ticketDescription = document.getElementById("description").value;
  
  
         $.ajax({
                  type: "POST",
                  url: "/createticketindb",
                 contentType: "application/json; charset=utf-8",
                 data: '{"category":"' + categorySelected + '","description":"' + ticketDescription + '","prioritySelected":"' + prioritySelected + '"}', 
                 dataType: "json",
             success: function (data) {                 
                     var parsedData = JSON.parse(data);
                     var TicketNoId = parsedData.TicketNo;
                     var Description = parsedData.Description;
                     var ticketCategory = parsedData.Category;
                     var ticketpriority = parsedData.Priority;
                   let ticketInfo = {
                       ticketNo: TicketNoId,
                       TDescription: Description,
                       TCategory: ticketCategory,
                       TPriority:ticketpriority,
                       action:"ticketcomplete"
                   };    
                   microsoftTeams.tasks.submitTask(ticketInfo);
               },
                  error: function() { console.log('A error'); }
                });
 
    }
   
    </script>
</body>
