@model EmployeeConnect.Models.EandTModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link href="~/Content/eventandtrainingnew.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/js/index.js"></script>
    <title>Events and Trainings</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row header">
                    <div class="col-12">
                        <div class="heading">My events and trainings</div>
                        <div class="today">Today</div>
                        <div class="left-chev"></div>
                        <div class="right-chev"></div>
                        <div class="month-date">May, 2019</div>
                        <div class="down-chev"></div>
                    </div>
                </div>
                <div class="msg-for-header">
                    Mandatory trainings are automatically addded to your list
                </div>
                <div class="row date-row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-2 dates">
                                <div class="date">16</div>
                                <div class="day">Thursday</div>
                            </div>
                            <div class="col-lg-2 dates">
                                <div class="date">17</div>
                                <div class="day">Friday</div>
                            </div>
                            <div class="col-lg-2 dates">
                                <div class="date">23</div>
                                <div class="day">Thursday</div>
                            </div>
                            <div class="col-lg-2 dates">
                                <div class="date">28</div>
                                <div class="day">Tuesday</div>
                            </div>
                            <div class="col-lg-2 dates">
                                <!-- add date here -->
                            </div>
                            <div class="col-lg-2 dates">
                                <!-- add date here -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card-deck custom-card-deck">
                            <div class="col-lg-2 small-dev">
                                <div class="card custom-card">
                                    <div class="card-header header-flag">
                                        <span class="flag"></span>
                                        <span class="event">Event</span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-title main-title-msg">
                                            Business Applications Summit
                                        </div>
                                        <div class="time-icon">
                                            <div class="event-time">10:00 AM - 05:00 PM</div>
                                        </div>
                                        <div class="location-icon">
                                            <div class="location">Seattle</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 small-dev">
                                <div class="card custom-card">
                                    <div class="card-header header-flag">
                                        <span class="flag"></span>
                                        <span class="event">Event</span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-title main-title-msg">
                                            Business Applications Summit
                                        </div>
                                        <div class="time-icon">
                                            <div class="event-time">10:00 AM - 05:00 PM</div>
                                        </div>
                                        <div class="location-icon">
                                            <div class="location">Seattle</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 small-dev">
                                <div class="card custom-card">
                                    <div class="card-header header-flag">
                                        <span class="flag"></span>
                                        <span class="event">Event</span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-title main-title-msg">
                                            Microsoft Build
                                        </div>
                                        <div class="time-icon">
                                            <div class="event-time">09:00 AM - 12:00 PM</div>
                                        </div>
                                        <div class="location-icon">
                                            <div class="location">Seattle</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 small-dev">
                                <div class="card custom-card">
                                    <div class="card-header header-flag">
                                        <span class="flag"></span>
                                        <span class="event">Event</span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-title main-title-msg">
                                            Microsoft Ignite
                                        </div>
                                        <div class="time-icon">
                                            <div class="event-time">3:00 - 4:00 PM</div>
                                        </div>
                                        <div class="web-icon">
                                            <div class="web">Online stream</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 small-dev">
                                <!-- add data here -->
                            </div>
                            <div class="col-lg-2 small-dev">
                                <!-- add data here -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card-deck custom-card-deck">
                            <div class="col-lg-2 small-dev">
                                <!-- add data here -->
                            </div>
                            <div class="col-lg-2 small-dev">
                                <div class="card custom-card">
                                    <div class="card-header header-badge">
                                        <span class="badge-icon"></span>
                                        <span class="event">Training</span>
                                        <span class="check">
                                            <span class="mandatory">Mandatory</span>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-title main-title-msg">
                                            Platform overviews training
                                        </div>
                                        <div class="time-icon">
                                            <div class="event-time">02:00 - 04:00 PM</div>
                                        </div>
                                        <div class="web-icon">
                                            <div class="web">Online stream</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 small-dev">
                                <!-- add data here -->
                            </div>
                            <div class="col-lg-2 small-dev">
                                <!-- add data here -->
                            </div>
                            <div class="col-lg-2 small-dev">
                                <!-- add data here -->
                            </div>
                            <div class="col-lg-2 small-dev">
                                <!-- add data here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row header2">
            <div class="col-12">
                <div class="heading">Other upcoming events and trainings</div>
                <div class="today">Today</div>
                <div class="month-date">May, 2019</div>
                <div class="down-chev"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-deck custom-card-deck2">
                    <div class="col-lg-2 small-dev">
                        <div class="card custom-card2">
                            <div class="card-header header-flag">
                                <span class="flag"></span>
                                <span class="event">Event</span>
                            </div>
                            <div class="card-body">
                                <div class="card-title main-title">
                                    Microsoft E3 briefing
                                </div>
                                <div class="time-icon2">
                                    <div class="event-time for-header2-dateandtime">
                                        Wed, 15 May 2019, 10:30 AM - 05:00 PM
                                    </div>
                                </div>
                                <div class="web-icon2">
                                    <div class="web for-header2-stream">Online stream</div>
                                </div>
                                <div class="cal-icon">
                                    <div class="cal for-header2-cal">Add to calendar</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 small-dev">
                        <div class="card custom-card2">
                            <div class="card-header header-flag">
                                <span class="flag"></span>
                                <span class="event">Event</span>
                            </div>
                            <div class="card-body">
                                <div class="card-title main-title">
                                    Microsoft E3 briefing
                                </div>
                                <div class="time-icon2">
                                    <div class="event-time for-header2-dateandtime">
                                        Wed, 15 May 2019, 10:30 AM - 05:00 PM
                                    </div>
                                </div>
                                <div class="location-icon">
                                    <div class="location for-header2-loc">Las Vegas</div>
                                </div>
                                <div class="cal-icon">
                                    <div class="cal for-header2-cal">Add to calendar</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 small-dev">
                        <div class="card custom-card2">
                            <div class="card-header header-flag">
                                <span class="badge-icon"></span>
                                <span class="event">Training</span>
                                <span class="star">
                                    <span class="featured">Featured</span>
                                </span>
                            </div>
                            <div class="card-body">
                                <div class="card-title main-title">
                                    Microsoft Business training program
                                </div>
                                <div class="time-icon2">
                                    <div class="event-time for-header2-dateandtime">
                                        Fri, 17 May 2019, 10:00 AM - 12:00 PM
                                    </div>
                                </div>
                                <div class="location-icon">
                                    <div class="location for-header2-loc">
                                        Online stream and Seattle
                                    </div>
                                </div>
                                <div>
                                    <button type="button" class="register">Register</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 small-dev">
                        <div class="card custom-card2">
                            <div class="card-header header-flag">
                                <span class="flag"></span>
                                <span class="event">Event</span>
                            </div>
                            <div class="card-body">
                                <div class="card-title main-title">
                                    Inside Xbox: Live  E3
                                </div>
                                <div class="time-icon2">
                                    <div class="event-time for-header2-dateandtime">
                                        Wed, 22 May 2019, 04:30 - 05:00 PM
                                    </div>
                                </div>
                                <div class="location-icon">
                                    <div class="location">Online stream and Las Vegas</div>
                                </div>
                                <div class="cal-icon icon-cal">
                                    <div class="cal for-header2-cal">Add to calendar</div>
                                </div>
                                <div class="check-icon-added added-icon">
                                    <div class="check-added for-header2-cal">
                                        Added to calendar
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 small-dev">
                        <div class="card custom-card2">
                            <div class="card-header header-flag">
                                <span class="flag"></span>
                                <span class="event">Event</span>
                            </div>
                            <div class="card-body">
                                <div class="card-title main-title">
                                    Microsoft Inspire
                                </div>
                                <div class="time-icon2">
                                    <div class="event-time for-header2-dateandtime">
                                        Thu, 23 May 2019, 10:30 - 11:00 AM
                                    </div>
                                </div>
                                <div class="location-icon">
                                    <div class="location for-header2-loc">BLR campus</div>
                                </div>
                                <div class="cal-icon">
                                    <div class="cal for-header2-cal">Add to calendar</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 small-dev">
                        <!-- add data here -->
                    </div>
                    <div class="col-lg-2 small-dev">
                        <div class="card custom-card2">
                            <div class="card-header header-flag">
                                <span class="flag"></span>
                                <span class="event">Event</span>
                                <span class="star">
                                    <span class="featured">Featured</span>
                                </span>
                            </div>
                            <div class="card-body">
                                <div class="card-title main-title">
                                    SharePoint Conference
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 small-dev">
                        <div class="card custom-card2">
                            <div class="card-header header-flag">
                                <span class="flag"></span>
                                <span class="event">Event</span>
                            </div>
                            <div class="card-body">
                                <div class="card-title main-title">
                                    Satya's Corenote at Microsoft Ready
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 small-dev">
                        <div class="card custom-card2">
                            <div class="card-header header-flag">
                                <span class="flag"></span>
                                <span class="event">Event</span>
                            </div>
                            <div class="card-body">
                                <div class="card-title main-title">
                                    Technology fair
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
