@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../../Content/pendingdates.css" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="@("https://unpkg.com/@microsoft/teams-js@1.4.1/dist/MicrosoftTeams.min.js")"></script>
    <title>Pending Dates</title>
</head>
<body>
    <script>
        microsoftTeams.initialize();
        function closePending() {
            let pendingInfo = {
                action: "closePending",
            };
            microsoftTeams.tasks.submitTask(pendingInfo);
            return true;
        }


    </script>
    <div class="sel">
        <select>
            <option>Jan</option>
            <option>Feb</option>
            <option>Mar</option>
            <option>Apr</option>
            <option>May</option>
            <option>Jun</option>
            <option selected>Jul</option>
            <option>Aug</option>
            <option>Sept</option>
            <option>Oct</option>
            <option>Nov</option>
            <option>Dec</option>
        </select>
    </div>
    <div id="pendingDates">
        <table class="table custom-table">
            <thead>
                <tr>
                    <th scope="col" id="timesheetHeader">Pending timesheet</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="PD">Pending dates</td>
                    <td class="LH">Logged hours</td>
                    <td class="location">Location</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="PD-data">15 @System.DateTime.Now.AddMonths(-1).ToString("MMM"), @System.DateTime.Now.ToString("yyyy")</td>
                    <td>
                        <input type="text"
                               class="input-hrs"
                               placeholder="hrs" />
                    </td>
                    <td>
                        <input type="text" class="input-loc" placeholder="location" />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="PD-data">Tue, 16 July 2019</td>
                    <td>
                        <input type="text"
                               class="input-hrs"
                               placeholder="hrs" />
                    </td>
                    <td>
                        <input type="text" class="input-loc" placeholder="location" />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="PD-data">Wed, 17 July 2019</td>
                    <td>
                        <input type="text"
                               class="input-hrs"
                               placeholder="hrs" />
                    </td>
                    <td>
                        <input type="text" class="input-loc" placeholder="location" />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="PD-data">Thu, 18 July 2019</td>
                    <td>
                        <input type="text"
                               class="input-hrs"
                               placeholder="hrs" />
                    </td>
                    <td>
                        <input type="text" class="input-loc" placeholder="location" />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="PD-data">Fri, 19 July 2019</td>

                    <!-- Given input  -->
                    <td>
                        <span class="time-clk"></span>
                        <span class="given-time">7 hrs 45 min</span>
                        <div class="sub-time"><i>8:30am - 4:15pm</i></div>
                    </td>
                    <td class="given-loc">Campus</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="PD-data">Mon, 22 July 2019</td>
                    <td>
                        <input type="text"
                               class="input-hrs"
                               placeholder="hrs" />
                    </td>
                    <td>
                        <input type="text" class="input-loc" placeholder="location" />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="PD-data">Tue, 23 July 2019</td>
                    <td>
                        <input type="text"
                               class="input-hrs"
                               placeholder="hrs" />
                    </td>
                    <td>
                        <input type="text" class="input-loc" placeholder="location" />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="PD-data">Wed, 24 July 2019</td>
                    <td>
                        <input type="text"
                               class="input-hrs"
                               placeholder="hrs" />
                    </td>
                    <td>
                        <input type="text" class="input-loc" placeholder="location" />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="PD-data">Thu, 25 July 2019</td>
                    <td>
                        <input type="text"
                               class="input-hrs"
                               placeholder="hrs" />
                    </td>
                    <td>
                        <input type="text" class="input-loc" placeholder="location" />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="PD-data">Fri, 26 July 2019</td>
                    <td>
                        <input type="text"
                               class="input-hrs"
                               placeholder="hrs" />
                    </td>
                    <td>
                        <input type="text" class="input-loc" placeholder="location" />
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="spt">
            <button type="button" class="cancel" onclick="closePending('closePending')">Cancel</button>
            <button type="button" class="submit" onclick="closePending('closePending')">Submit</button>
        </div>
    </div>

</body>
</html>
