@{
    ViewBag.Title = "Policies";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

    <link href="~/Content/index_Policies.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/js/index.js"></script>
    <title>Policies Tab</title>

</head>

<body>
    <div class="sidebar">
        <a class="HR active" data-toggle="collapse" data-target="#hr" href="#heading2">
            <span class="HR2">Human resources</span>
        </a>
        <div id="hr" class="collapse show display-show">
            <div class="hr-details">
                <div class="EB">Employee Benefits</div>
                <!--data-toggle="modal" data-target=".content"-->
                <div class="PI">Payroll Info</div>
                <div class="Com">Compensation</div>
                <div class="service">Service</div>
            </div>
        </div>
        <a class="PB" href="#">
            <span class="PB2">Pay & Benefits</span>
        </a>
        <a class="IT" href="#">
            <span class="right-chev"></span>
            <span class="IT2">IT facilities</span>
        </a>
        <a class="RO" href="#">Retail operations</a>
    </div>
    <div class="content">
        <div class="heading2 tab-pane fade in active show" id="#heading2">
            <div class="head">
                <h4>Human Resource Policies</h4>
                This document contains all policies-related information for employees.
                Please contact your HR representative for any queries.
            </div>
            <h6 class="sub-heading">1.1 Annual Leave</h6>
            <p class="sub-sub-heading">
                Important guidelines for the annual leave policy are listed below:
            </p>
            <ul class="bullet-pts">
                <li>
                    All employees are entitled to a total of 15 annual leaves during the
                    calendar year
                </li>
                <li>
                    The annual leave cycle is based on calendar year (January 1 to
                    December 31)
                </li>
                <li>
                    Weekly off/holidays falling during the leave period are excluded
                    from the number of leave days taken
                </li>
                <li>
                    Only 5 unused annual leaves can be carried forward to the next
                    calendar year
                </li>
                <li>
                    Employees who join during the course of the year will receive annual
                    leaves on a pro-rated basis
                </li>
                <li>
                    If an employee leaves during the leave cycle and has taken more
                    leaves than the eligibility, the excess leaves taken will be
                    adjusted against the full and final settlement
                </li>
                <li>
                    All employees need to apply for leaves using the designated vacation
                    tool
                </li>
                <li>
                    All annual leaves must be approved by managers before the leave
                    period begins
                </li>
            </ul>
            <h6 class="sub-heading">1.2 Sick Leave</h6>
            <p class="sub-sub-heading">
                Important guidelines for the sick leave policy are listed below:
            </p>
            <ul class="bullet-pts">
                <li>
                    All employees are entitled to a total of 12 sick leaves during the
                    calendar year
                </li>
                <li>
                    The sick leave cycle is based on calendar year (January 1 to
                    December 31)
                </li>
                <li>
                    Weekly off/holidays falling during the leave period are excluded
                    from the number of leave days taken
                </li>
                <li>
                    Unused sick leaves cannot be carried forward to the next calendar
                    year
                </li>
                <li>
                    Employees who join during the course of the year will receive sick
                    leaves on a pro-rated basis
                </li>
                <li>
                    If an employee leaves during the leave cycle and has taken more
                    leaves than the eligibility, the excess leaves taken will be
                    adjusted against the full and final settlement
                </li>
                <li>
                    All employees need to apply for sick leaves using the designated
                    vacation tool after re-joining work
                </li>
                <li>
                    If an employee takes more than 5 consecutive sick leaves, he/she
                    will be required to furnish a medical certificate
                </li>
            </ul>
        </div>
    </div>
</body>

</html>