@model EmployeeConnect.Models.PO
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Custom.css" />
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <script>
        microsoftTeams.initialize();
    </script>
    <div class="container-fluid">
        <header>Purchase order no. 848930</header>
        <div>Vendor no. 72383</div>
        <div style="float:right">Total amount</div>
        <span class="title"> Store A</span>

    </div>
    <div id="Porder" class="panel-collapse">
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr class="head-title-color">
                        <th>Item code</th>
                        <th>Description</th>
                        <th>Unit price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row-highlight">
                        <td class="itemCode">6748924245</td>
                        <td class="Description">White Board, Dry Erase Marker Board for office (1.5x2) (Pack of 1)</td>
                        <td class="Unit-price"><span>&#x20b9;</span> 720</td>
                        <td class="Quantity">14</td>
                        <td class="Total">
                            <span>&#x20b9;</span> 10,080
                        </td>
                    </tr>
                    <tr class="row-highlight">
                        <td class="itemCode">6778426526</td>
                        <td class="Description">Magnetic White Board Planner Sheet Dry Erase. Includes 4 Markers & 1 Duster.</td>
                        <td class="Unit-price"><span>&#x20b9;</span> 280</td>
                        <td class="Quantity">22</td>
                        <td class="Total">
                            <span>&#x20b9;</span> 3,360
                        </td>
                    </tr>
                    <tr class="row-highlight">
                        <td class="itemCode">2455318377</td>
                        <td class="Description">Non-Magnetic chalkboard, Lightweright Aluminium Frame, 1x2 feet (30x60 cm)</td>
                        <td class="Unit-price"><span>&#x20b9;</span> 660</td>
                        <td class="Quantity">18</td>
                        <td class="Total">
                            <span>&#x20b9;</span> 11,880
                        </td>
                    </tr>
                    <tr class="row-highlight">
                        <td class="itemCode">3624292842</td>
                        <td class="Description">Metal Mesh Desk Organizer, Black LD 708-05</td>
                        <td class="Unit-price"><span>&#x20b9;</span> 459</td>
                        <td class="Quantity">12</td>
                        <td class="Total">
                            <span>&#x20b9;</span> 5,508
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>

