@model EmployeeConnect.Models.PO
@using EmployeeConnect.Common;
@using EmployeeConnect.Helper;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Visitor.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>SRA</title>
</head>
<body>
    <script>
        microsoftTeams.initialize();

        function validateForm() {
            debugger;
             let taskInfo = {
             //   title: null,
                height: null,
                width: null,
                url: null,
                fallbackUrl: null,
            };

            //taskInfo.title = "Purchase Order";
            taskInfo.height = "medium";
            taskInfo.width = "medium";

                taskInfo.url = "@(ApplicationSettings.BaseUrl)" + "/visitorregistration";
                taskInfo.height = "@(TaskModelUIConstant.VisitorRegistration.Height)";
                taskInfo.width = "@(TaskModelUIConstant.VisitorRegistration.Width)";

            // Set fallback URL
            taskInfo.fallbackUrl = taskInfo.url;
            microsoftTeams.tasks.submitTask(taskInfo, "@ApplicationSettings.AppId");
            return true;
        }
    </script>
    <form method="POST" id="visitorregestration" action="/visitorregistration" onSubmit="return validateForm()">
        <div class="modal-dialog modal-dialog-centered custom-card-for-send-request"
             role="document">
            <div class="modal-content content-radius">
                <div class="modal-header custom-header">
                    <div class="modal-title tick">
                        <div class="from-send-request">Your request for visitor registration has been sent</div>
                    </div>
                </div>
                <div class="modal-body from-next-body">
                    <div class="VD">Visitor details</div>
                    <div class="VD-form">
                        <div class="VD-form-tkname">Name</div>
                        <div class="VD-form-tkno-name">Marie Beaudouin</div>
                    </div>
                    <div class="row-hgt">
                        <div class="VD-org">Organisation</div>
                        <div class="VD-org-org">Design studio</div>
                    </div>
                    <div class="row-hgt">
                        <div class="VD-contact">Contact</div>
                        <div class="VD-contact-no">+91 xxxx xx358</div>
                    </div>
                    <div class="row-hgt">
                        <div class="VD-purpose">Purpose</div>
                        <div class="VD-purpose-reason">Meeting</div>
                    </div>
                    <div class="row-hgt">
                        <div class="VD-date">Visiting date</div>
                        <div class="VD-date-date">14 May,2019</div>
                    </div>
                    <div class="row-hgt">
                        <div class="VD-time">Visiting time</div>
                        <div class="VD-time-time">13:00</div>
                    </div>
                    <div class="cancel-ticket">
                        <span class="cancel-icon"></span>
                        <span class="cancel-req-btn">Cancel request</span>
                    </div>
                    <div class="two-btn">
                        <button type="button" class="Close">Close</button>
                        <button type="button" class="Edit" onclick="submit('visitorregistration');">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>